@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

/* common styles ......................... */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,tr,td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    vertical-align: middle;
}


a{
    display: contents;
}

html {
    font-size: 1.2rem;
    font-family: 'Imprima', sans-serif;
}

@media (min-width: 800px) {
    html {
        font-size: 1.4em;
    }
}
@media (min-width: 540px) {
    html {
        font-size: 1.3rem;
    }
}

@media (max-width: 464px) {
    html {
        font-size: 4vw;
    }
}
/* @media (max-width: 320px) {
    html {
        font-size: 4vw;
    }
} */